.features {
  width: 100%;
  background-color: #CAD3C8;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25%;
}

.feature-block {
  margin: auto;
}

.feature {
  display: block;
  width: 80%;
  margin: 5%;
  padding: 20px;
  background-color: #8ea08e;
  border-style: hidden;
  border-radius: 20px;

}

.feature-pic {
  border-style: solid;
  border-color: #D6A2E8;
  border-width: 2px;
  border-radius: 100%;
  display: flex;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 80px;
  background-color: #D6A2E8;
  margin: auto;
}

.feature-txt {
  line-height: 100px;
  text-align: center;
  margin: auto;
}

.feature-txt-span {
  margin: auto;
  vertical-align: middle;
  line-height: normal;
  font-size: large;
}

.features.container {
  padding-left: 10px;
  padding-right: 10px;
}