.info {
  background-color: #0A173E;
  padding: 10px;
}

.info-image {
  width: 25% ;
  background-size: 200px;
  display: inline-block;
  margin: auto;
  float: left;
  padding: 30px;
  border-style: hidden;
  border-radius: 20%;
}

.info-text {
  padding: 10px;
  color: #CAD3C8;
}

.info-text-block {
  width: 95%;
  margin: auto;
}