.intro {
  width: 980px;
  display: flex;
  min-height: 480px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  text-align: center;
  margin: auto;
  line-height: 80px;
  opacity: 0.95

}

.intro-title {
  font-size: 3em;
  font-weight: bold;
  text-decoration-style: unset;
  text-align: center;
  display: block;
  width: 90%;
}

.intro-text {
  display: block;
  margin: auto;
  width: 90%;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;

}

.intro-pic {
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-position: center;
}