p,h1,h2,h3,h4,h5,h6 {
    font-family: "Arial Black", Gadget, sans-serif;
}

.title {
    size: 52px;
}

.title-medium {
    size: 36px;
    font-style: italic;
}

.text {
    size: 12px;
    font-style: italic;
}

.big-text {

}

.small-text {

}

@media (max-width: 800px) {
    .action-text, .feature-text, .info-text, .contact-text, .text {
        text-align: center;
    }
}